.repos {
  width: 100%;
  height: fit-content;
}

.repos__title {
  font-size: 24px;
  font-weight: 500;
  margin: 8px;
}

.repos__listItem {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.repoItem {
  width: 100%;
  min-height: 128px;
  padding: 16px;
  border: 1px solid #cccccc;
}

.repoItem__title {
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
}

.forked {
  color: #cccccc;
  word-break: break-all;
  text-overflow: ellipsis;
}
