.follow{
    width: 100%;
    height: fit-content;
    padding: 16px;
    margin-top: 8px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
}

.follow p{
    padding: 2px 8px;
    margin: 0px 8px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.follower{
    background-color: var(--primary);
    color: white;
}

.following{
    background-color: var(--success-color);
    color: white;
}

.repos-amount{
    background-color: var(--light-color);
    color: black;
}

.gits-amount{
    background-color: var(--dark-color);
    color: white;
}